#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 15px;
}

/* 탑버튼 */
.topbtn-test-div {
  width: 100%;
  height: 500px;
  background-color: aqua;
  /* TODO: 테스트 후 삭제 */
}

/* card12 */
.main-add-card-container {
  width: 90%;
  margin: 15px auto 180px;
}

.main-add-card{
  color: #999999;
  height: 140px;
  border: 1px solid #999999;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-add-card-comment {
  font-size: 22px;
  text-align: center;
}