.action-guide-container {
  width: 90%;
  min-height: 300px;
  border-radius: 15px;
  box-shadow: 0px 0px 5px var(--light-blue);
  background-color: var(--personal-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 900;
  color: #ffffff;
  padding: 15px;
}

.action-guide-intro {
  font-size: 1.5rem;
}

.action-guide-content {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 10px 15px;
  color: black;
  text-align: center;
}

.action-guide-icon-container {
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-guide-text {
  font-size: 20px;
  letter-spacing: 0.5px;
}

.weather-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  font-size: 1.2rem;
  padding: 5px 0;
  margin-top: -8px;
  vertical-align: middle;
}

.weather-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  margin-top: -5px;
}

.temperature {
  font-weight: bold;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
}

.precipitation {
  color: #f0f0f0;
  display: flex;
  align-items: center;
  padding-bottom: 1px;
  letter-spacing: 1px;
}

.weather-cloud {
  margin-top: 3px;
}