.card03-container {
  width: 90%;
  border: 1px solid var(--deep-blue);
  border-radius: 15px;
  margin: 0 auto;
}
.card03-result-cotainer {
  display: flex;
  justify-content: space-around;
}
.card03-result-item {
  width: 27%;
}