/* 카드04 기본 */
.card04-container {
  padding: 15px;
  background-color: var(--personal-blue);
  width: 90%;
  border-radius: 15px;
  box-shadow: 0px 0px 5px var(--light-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

/* 카드04 타이틀 */
.card04-title {
  color: #fff;
  margin-bottom: 15px;
}

/* 북마크가 있을시 나타나는 것 */
.card04-bookmark-item-container {
  background-color: var(--personal-blue);
  width: 95%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card04-bookmark-list-title {
  font-weight: 900;
}
.card04-bookmark-list-station {
  color: gray;
  font-size: 12px;
}

.card04-bookmark-list {
  width: 100%;
  padding: 15px;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

/* 토글했을 때 */
.card04-bookmark-list.toggled {
  width: 100%;
  padding: 15px;
  background-color: #fff;
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.card04-bookmark-list-toggle {
  width: 100%;
  background-color: #fff;
  padding: 15px;
  border-radius: 0 0 20px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.card04-bookmark-list-toggle.show {
  max-height: 500px;
  opacity: 1;
  padding: 15px;
}

.card04-bookmark-list-toggle-info{
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card04-bookmark-list-toggle-info:nth-child(2) {
  border-left: 1px solid var(--deep-blue);
  border-right: 1px solid var(--deep-blue);
}

.card04-bookmark-list-toggle-info-title {
  font-weight: 700;
  font-size: 18px;
}

.card04-bookmark-list-toggle-info-value {
  font-size: 16px;
}

.card04-air-log {
  padding: 15px;
}

/* 에러 */
.card04-bookmark-list-comment-err {
  color: var(--red);
  padding: 15px;
  width: 100%;
  text-align: center;
}

/* 로딩 */
.card04-bookmark-list-comment-loading {
  padding: 15px;
  width: 100%;
  text-align: center;
}

/* 즐겨찾기 목록 없을 때 */
.card04-bookmark-list-comment {
  color: #fff;
  font-size: 20px;
  padding-bottom: 20px;
}

/* 단계별 ● 컬러 */
.card04-air-status {
  color: #929292
}

.card04-air-status.good {
  color: var(--personal-blue);
}

.card04-air-status.normal {
  color: var(--green);
}

.card04-air-status.bad {
  color: var(--yellow);
}

.card04-air-status.very-bad {
  color: var(--red);
}