.app-wrapper {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
}
.header-Menu-background {
  width: 100%;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.5);

  position: fixed;
  top: 115px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 600px;

  z-index: 4;
}
.header-Menu-container {
  width: 70%;
  max-width: 420px;
  height: 100vh;

  border: 1px solid var(--deep-blue);
  border-right: none;
  border-radius: 20px 0 0 20px;

  background-color: #fff;

  padding: 0 30px;

  position: absolute;
  top: -115px;
  right: 0;

  z-index: 5;
}

.header-Menu-container-top {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-Menu-container-title {
  font-size: 32px;
}
.header-Menu-container-bar {
  border: none;                    /* 기본 보더 제거 */
  border-top: 2px solid var(--deep-blue);      /* 선 스타일 */
  height: 1px;                      /* 두께 */
  margin: 0 auto;                   /* 여백 */
  width: 100%;                       /* 너비 */
}

.header-Menu-container-main {
  height: 83%;
  padding: 40px 10px;

  display: flex;
  flex-direction: column;
  gap: 15px;
}
.header-Menu-container-list {
  height: 40px;
  font-weight: 700;
  line-height: 40px;
  
  padding-left: 20px;
  cursor: pointer;
}
.header-Menu-container-list:hover {
  width: 70%;
  background-color: var(--personal-blue);
  border-radius: 20px;
}
.header-Menu-container-list:active {
  width: 70%;
  background-color: var(--personal-blue);
  color: #fff;
  border-radius: 20px;
  transform: scale(0.9);
}

.header-Menu-container-ver {
  color: #666;
  font-size: 14px;
  text-align: right;
}

.header-Menu-item-with-icon {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-Menu-item-with-icon img {
  width: 20px;
  height: 20px;
  transform: translateY(2px);
}

.header-Menu-off {
  font-size: 20px;
  font-weight: 900;
}