.header-container {
  background-color: #fff;
  height: 115px;

  padding: 10px;

  border-bottom: 1px solid var(--deep-blue);

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  z-index: 9;
}

/*  죄측 로고 영역 */
.header-logo-container {
  width: 80px;
  height: 80px;
  padding: 2px;

  cursor: pointer;
}
.header-logo-container .header-logo {
  height: 73%;
}
.header-logo-title {
  width: 100%;
  height: 28%;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.header-return {
  font-size: 40px;
  width: 80px;
  height: 80px;
  line-height: 90px;
}

/* 양쪽 대칭 wrapper */
.header-left-wrapper {
  display: flex;
  align-items: center;
  min-width: 50px; /* Warning 아이콘과 동일한 최소 너비 */
}

/* 가운데 타이틀 영역 */
.header-center {
  width: 50%;
  margin: 30px auto;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}
.header-location-center-wapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}
.header-location-title-wrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.header-icon-wrapper {
  grid-row: 1 / 3;
  margin: 3px;
}
.header-title-wrapper {
  width: 50%;
  padding-right: 3rem;
  text-align: center;
}
.header-title {
  font-size: 16px;
  font-weight: 900;
  text-align: center;
}
.header-right-padding {
  padding-left: 1.2rem;
}
.header-title-info {
  font-size: 12px;
  color: #999;
}

/* 오른쪽 메뉴 아이콘 영역 */
.header-right-wrapper {
  display: flex;
  align-items: center;
}

.header-menu {
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 100px;
}
