.header-OML-container-fixed {
  width: 100%;
  max-width: 600px;  

  position: fixed;
  top: 0;
}
.header-OML-background {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);

  z-index: 1;
}
.header-search-empty {
  width: 100px;
  height: 115px;
  background-color: white;
}
.header-OML-container {
  background-color: #fff;
  border-radius: 0 0 40px 40px;

  z-index: 2;

  padding: 0 5% 0 5%;
}

.header-search-title {
  font-weight: 700;

  margin: 50px 0 20px 0;
}
.header-flex-style {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;

  margin: 20px 0 60px 0;
}

.header-search-input-btn {
  padding: 0 7%;

  position: relative;
  text-align: center;
}
.header-search-btn {
  font-size: 20px;
  width: 30px;
  height: 30px;

  background: none;
  border: none;
  cursor: pointer;

  position: absolute;
  right: 9%;
  top: 25%;
  /* transform: translateY(-50%); */
}
.header-search-input {
  font-size: 16px;
  font-weight: 600;

  width: 100%;
  height: 45px;

  border-radius: 10px;
  background-color: #EEEEEE;

  border: none;
  outline: none;

  padding: 10px 25px;
}
.header-search-input:focus {
  box-shadow: 0 0 5px var(--deep-blue);
}

.header-search-result {
  font-weight: 600;
  width: 85%;
  
  border: 1px solid var(--personal-blue);
  border-radius: 10px;
  
  padding: 8px 15px;

  display: flex;
  align-items: center;
  gap: 3px;
}
.header-search-list {
  padding-left: 10px;
  min-height: 50px;
  max-height: 400px; 
  overflow-y: auto; /* 스크롤 자동 생성 */
}
.header-search-list::-webkit-scrollbar {
  width: 10px; /* 스크롤바 너비 */
}
.header-search-list::-webkit-scrollbar-track {
  background: transparent; /* 투명 배경 */
}
.header-search-list::-webkit-scrollbar-thumb {
  background: var(--deep-blue); /* 스크롤바 색상 */
  border-radius: 5px;
}
.bookmark-icon {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-search-result-item {
  width: 100%;
  padding: 5px;
}