/* ========================================
   크기 옵션
======================================== */
.logo-good-white-small {
  width: 80px;
}

.logo-good-white-medium {
  width: 150px;
}

.logo-good-white-large {
  width: 300px;
}

.logo-good-white-xlarge {
  width: 400px;
}

.logo-good-white {
  overflow: visible !important;
}

/* ========================================
구름 통통 튀기 - (Layer 2-몸, 3-눈, 4-입)
======================================== */
.logo-good-white.animated #Layer_2_good-white,
.logo-good-white.animated #Layer_3_good-white,
.logo-good-white.animated #Layer_4_good-white
{
  animation: cloudBounce 2s ease-in-out infinite;
}

/* ========================================
바람 (Layer_5)
======================================== */
.logo-good-white.animated #Layer_5_good-white path {
  animation: windFlow 5s ease-in-out infinite;
}

/* ========================================
먼지 (Layer_7)
======================================== */
.logo-good-white.animated #Layer_7_good-white {
  animation: dustBounce-good 2s ease-in-out infinite;
}

/* ========================================
물방울 (Layer_6)
======================================== */
.logo-good-white.animated #Layer_6_good-white path {
  animation: dropFlow 5s ease-in-out infinite;
}