.toast-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.16);
  z-index: 9998;
}

.toast-container {
  position: fixed;
  bottom: 50%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 9999; /* 맨위로 보내기 */
}

.toast-comment {
  background-color: var(--personal-blue);
  color: #fff;
  padding: 12px 24px;
  border-radius: 30px;
  font-weight: 600;  
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}