.editcard-card-container {
  width: 500;
  padding: 30px;    
}

.editcard-card {
  background-color: white;
  padding: 10px 20px;
  margin-bottom: 10px;
  border: 1px solid var(--deep-blue);
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.editcard-card-info{ 
  display: flex;
  align-items: center;
  gap: 15px;
}

.editcard-hamburger { 
  cursor: grab;
  padding-right: 10px;
  font-size: 20px;
  color: #888;
}

.editcard-card:last-child{
  margin-bottom: 0;
}

.editcard-card-name {
  margin: 0;
  font-weight: bold;
}

/* 초기화 버튼 */
.editcard-reset-btn-container {
  width: 500;
  padding: 10px 30px 0 30px; 
  display: flex;
  justify-content: flex-end;
}

.editcard-reset-btn{
  font-size: 13px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid var(--deep-blue);
  border-radius: 15px;
}

/* .editcard-reset-btn:hover {
  background-color: var(--light-blue);
  color: #fff;
} */

/* 저장하기 버튼 */
.editcard-card-save-btn-container {
  width: 500;
  padding: 30px; 
  margin-top: 40px; 
}

.editcard-card-save-btn {
  background-color: #fff;
  font-size: 16px;
  font-weight: 900;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--deep-blue);
  border-radius: 15px;
  cursor: pointer;
}

/* .editcard-card-save-btn:hover {
  background-color: var(--light-blue);
  color: #fff;
} */

/* 스위치 스타일 */
/* From Uiverse.io by Yaya12085 */ 
.editcard-switch {
  position: relative;
  height: 1.5rem;
  width: 3rem;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 9999px;
  background-color: rgba(100, 116, 139, 0.377);
  transition: all .3s ease;
}

.editcard-switch:checked {
  background-color: rgba(32, 151, 243, 1);
}

.editcard-switch::before {
  position: absolute;
  content: "";
  left: calc(1.5rem - 1.6rem);
  top: calc(1.5rem - 1.6rem);
  display: block;
  height: 1.6rem;
  width: 1.6rem;
  cursor: pointer;
  border: 1px solid rgba(100, 116, 139, 0.527);
  border-radius: 9999px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 3px 10px rgba(100, 116, 139, 0.327);
  transition: all .3s ease;
}

.editcard-switch:hover::before {
  box-shadow: 0 0 0px 8px rgba(0, 0, 0, .15)
}

.editcard-switch:checked:hover::before {
  box-shadow: 0 0 0px 8px rgba(32, 151, 243, .15)
}

.editcard-switch:checked:before {
  transform: translateX(100%);
  border-color: rgba(32, 151, 243, 1);
}