.bookmark-container {
  padding: 30px;

  display: flex;
  flex-direction: column;
}
.bookmark-title {
  font-weight: 700;
  margin-bottom: 20px;
}

.bookmark-search-container {
  margin-bottom: 30px;
}

.bookmark-search-input-btn {
  text-align: center;
  
  margin: 20px auto;

  position: relative;
}
.bookmark-search-input {
  font-size: 16px;
  font-weight: 600;

  width: 80%;
  height: 45px;

  border-radius: 10px;
  background-color: #EEEEEE;

  border: none;
  outline: none;

  padding: 10px 25px;
}
.bookmark-search-input:focus {
  box-shadow: 0 0 5px var(--deep-blue);
}
.bookmark-search-btn{
  font-size: 20px;

  width: 30px;
  height: 30px;

  background: none;
  border: none;
  cursor: pointer;

  position: absolute;
  top: 22%;
  right: 11%;
}

.bookmark-filtered-conatiner {
  width: 90%;
  min-height: 50px;
  max-height: 200px;
  overflow-y: auto; /* 스크롤 자동 생성 */

  padding: 10px 30px 10px 14%;

  display: flex;
  flex-direction: column;
  gap: 10px;
}
.bookmark-filtered-conatiner::-webkit-scrollbar {
  width: 10px; /* 스크롤바 너비 */
}
.bookmark-filtered-conatiner::-webkit-scrollbar-track {
  background: transparent; /* 투명 배경 */
}
.bookmark-filtered-conatiner::-webkit-scrollbar-thumb {
  background: var(--deep-blue); /* 스크롤바 색상 */
  border-radius: 5px;
}
.bookmark-filtered-item {
  font-weight: bold;

  padding: 10px 15px;
  border: 1px solid var(--light-blue);
  border-radius: 15px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
.bookmark-filtered-item-region {
  white-space: nowrap;
}

/* 북마크 드래그앤드롭 영역 */
.bookmark-item {
  font-weight: bold;

  background-color: white;
  padding: 10px 20px;
  border: 1px solid var(--deep-blue);
  border-radius: 15px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;

  touch-action: none;
  cursor: grab;
}

.bookmark-name {
  touch-action: none;
}

/* 햄버거 */
.bookmark-hamburger {
  color: #888;
  padding: 0 15px 0 0;
  /* 모바일의 기본 동작이 드래그앤드롭 터치 기능과 충돌 */
  /* 브라우저의 기본 터치 동작 비활성화 */
  touch-action: none; /* 드래그앤드롭 해결 */
}

.bookmark-items-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* 북마크 저장 버튼 */
.bookmark-save-btn-container {
  margin-top: 80px;
  margin-bottom: 100px;
}

.bookmark-save-btn {
  background-color: #fff;
  font-size: 16px;
  font-weight: 900;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--deep-blue);
  border-radius: 15px;
  cursor: pointer;
}

.bookmark-nothing {
  font-weight: 900;

  text-align: center;

  padding: 50px;
}