#topBtn {
  position: fixed;
  bottom: 20px; /* 기본 위치를 더 낮게 조정 */
  right: 40px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #55a8e0;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: bottom 0.3s ease; /* 부드러운 이동 효과 추가 */
}

#topBtn.moved-up {
  bottom: 90px; /* 모달이 나타났을 때의 위치 */
}

#topBtn::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 18px solid white;
  margin-bottom: 6px;
}
