.introduce-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 50px auto 150px;
    text-align: center;
}

.introduce-logo-container {
  width: 200px;
  height: 100px;
}
.introduce-logo-flex {
  display: flex;
}
.introduce-logo-forflex {
  width: 300px;
}
.introduce-logo-title-forflex {
  width: 300px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

}

.introduce-info {
    font-weight: 900;
    color: var(--personal-blue);
}
.introduce-content {
  width: 80%;

  border: 1px solid #DDD;
  border-radius: 15px;

  margin: 10px 0 20px;
  padding: 20px 0 30px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}
.introduce-content-title {
    font-size: 18px;
    font-weight: 600;
    word-break: keep-all;
    line-height: 1.6;
    max-width: 500px;
}

.introduce-logo-title {
    width: 130px;
    height: 50px;
    background-repeat: no-repeat;
    margin: 10px auto;
}

.introduce-font-line {
  white-space: nowrap;
  line-height: 30px;
}
.introduce-font-bold {
  font-weight: bold;
}
.introduce-color-persnalblue {
  color: var(--personal-blue);
}
.introduce-color-deepblue {
  color: var(--deep-blue);
}